#ItemStack
public net.minecraft.world.item.ItemStack addAttributeTooltips(Ljava/util/function/Consumer;Lnet/minecraft/world/item/component/TooltipDisplay;Lnet/minecraft/world/entity/player/Player;)V
public net.minecraft.world.item.ItemStack <init>(Lnet/minecraft/core/Holder;ILnet/minecraft/core/component/PatchedDataComponentMap;)V
public net.minecraft.world.item.ItemStack OP_NBT_WARNING
public net.minecraft.world.item.ItemStack DISABLED_ITEM_TOOLTIP

#MouseHandler
public net.minecraft.client.MouseHandler onButton(JLnet/minecraft/client/input/MouseButtonInfo;I)V
public net.minecraft.client.MouseHandler onScroll(JDD)V
#KeyboardHandler
public net.minecraft.client.KeyboardHandler keyPress(JILnet/minecraft/client/input/KeyEvent;)V
#KeyMapping
public net.minecraft.client.KeyMapping key

#Style
public net.minecraft.network.chat.Style <init>(Lnet/minecraft/network/chat/TextColor;Ljava/lang/Integer;Ljava/lang/Boolean;Ljava/lang/Boolean;Ljava/lang/Boolean;Ljava/lang/Boolean;Ljava/lang/Boolean;Lnet/minecraft/network/chat/ClickEvent;Lnet/minecraft/network/chat/HoverEvent;Ljava/lang/String;Lnet/minecraft/network/chat/FontDescription;)V
public net.minecraft.network.chat.Style bold
public net.minecraft.network.chat.Style italic
public net.minecraft.network.chat.Style underlined
public net.minecraft.network.chat.Style strikethrough
public net.minecraft.network.chat.Style obfuscated
public net.minecraft.network.chat.Style font

#Misc
public net.minecraft.client.multiplayer.chat.ChatListener CHAT_VALIDATION_ERROR
public net.minecraft.client.renderer.OutlineBufferSource outlineBufferSource
public net.minecraft.nbt.StringTagVisitor builder
protected net.minecraft.nbt.StringTagVisitor handleKeyEscape(Ljava/lang/String;)V

#DataCommponent
public net.minecraft.world.item.enchantment.ItemEnchantments <init>(Lit/unimi/dsi/fastutil/objects/Object2IntOpenHashMap;)V
public net.minecraft.world.item.enchantment.ItemEnchantments enchantments

#Inventory
public net.minecraft.world.entity.player.Inventory equipment
public net.minecraft.world.entity.EntityEquipment items

#RenderPipeline
public net.minecraft.client.renderer.RenderPipelines register(Lcom/mojang/blaze3d/pipeline/RenderPipeline;)Lcom/mojang/blaze3d/pipeline/RenderPipeline;
public net.minecraft.client.renderer.RenderPipelines MATRICES_PROJECTION_SNIPPET
public net.minecraft.client.renderer.RenderPipelines DEBUG_FILLED_SNIPPET
public net.minecraft.client.renderer.RenderPipelines MATRICES_FOG_LIGHT_DIR_SNIPPET

#RenderType
public net.minecraft.client.renderer.rendertype.RenderType create(Ljava/lang/String;Lnet/minecraft/client/renderer/rendertype/RenderSetup;)Lnet/minecraft/client/renderer/rendertype/RenderType;

#MobEffectInstance
public net.minecraft.world.effect.MobEffectInstance duration
public net.minecraft.world.effect.MobEffectInstance amplifier
public net.minecraft.world.effect.MobEffectInstance ambient
public net.minecraft.world.effect.MobEffectInstance visible
public net.minecraft.world.effect.MobEffectInstance showIcon
public net.minecraft.world.effect.MobEffectInstance hiddenEffect